.outer{
   margin-top: 1rem;
}

.inner{
    width: 100vh;
   padding: 0.3rem;
    border: 1px solid lightgray;
   border-radius: 3%;
}

.tab{
    margin: 1%;
    
}
.form{
    margin:0.7%;
    padding: 1rem;
    width: 100vh; 
    text-align: left;
}